
.login-form {
    display: block;
    background-color: rgb(4, 48, 123);
}

.name-input {
    height: 2rem;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.782);
    margin: 1rem;
}
.submit-button {
    padding: 1rem 2rem;
    border-radius: 5px;
    margin: 1rem;
}
.error-msg {
    color: red;
}